Download and import the Data Science Job Salary dataset.

In [2]:
import pandas as pd

df = pd.read_csv('datascience_salaries.csv')
print(df.head())

   Unnamed: 0       job_title   job_type experience_level       location  \
0           0  Data scientist  Full Time           Senior  New York City
1           2  Data scientist  Full Time           Senior         Boston
2           3  Data scientist  Full Time           Senior         London
3           4  Data scientist  Full Time           Senior         Boston
4           5  Data scientist  Full Time           Senior  New York City

  salary_currency  salary
0             USD  149000
1             USD  120000
2             USD   68000
3             USD  120000
4             USD  149000

Normalize the ‘salary’ column using Min-Max normalization which scales all salary values between 0 and 1.

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df['salary'] = scaler.fit_transform(df[['salary']])
print(df.head())

   Unnamed: 0       job_title   job_type experience_level       location  \
0           0  Data scientist  Full Time           Senior  New York City
1           2  Data scientist  Full Time           Senior         Boston
2           3  Data scientist  Full Time           Senior         London
3           4  Data scientist  Full Time           Senior         Boston
4           5  Data scientist  Full Time           Senior  New York City

  salary_currency    salary
0             USD  0.601010
1             USD  0.454545
2             USD  0.191919
3             USD  0.454545
4             USD  0.601010
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1171 entries, 0 to 1170
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        1171 non-null   int64
 1   job_title         1171 non-null   object
 2   job_type          1171 non-null   object
 3   experience_level  1171 non-null   object
 4   location          1171 non-null   object
 5   salary_currency   1171 non-null   object
 6   salary            1171 non-null   float64
dtypes: float64(1), int64(1), object(5)
memory usage: 64.2+ KB
None

Implement dimensionality reduction like Principal Component Analysis (PCA) or t-SNE to reduce the number of features (columns) in the dataset.

In [ ]:
print(df.info())
#Only two 'number' columns. PCA and t-SNE are irrelevant in this case.

Group the dataset by the ‘experience_level’ column and calculate the average and median salary for each experience level (e.g., Junior, Mid-level, Senior).

In [9]:
salary_stats = df.groupby('experience_level')['salary'].agg(['mean', 'median']).reset_index()
print(salary_stats)

  experience_level      mean    median
0            Entry  0.030864  0.000000
1        Executive  0.232712  0.080808
2              Mid  0.110035  0.106061
3           Senior  0.227717  0.191919