test1

In [1]:
print("Hello, world!")
print(42)
print(3.14)
print("The answer is", 42)  # String and integer
print(3.14, "is a float")  # Float and string
print(True)  # Boolean (True/False)

Hello, world!
42
3.14
The answer is 42
3.14 is a float
True

In [ ]:
x = 5
print(x)

Exercice varaiables

In [8]:
age = input("May I know your age, pretty please with sugar on top? ")
print("You are ", age, " years old.")

You are  43  years old.

Exercice 1 Datatypes

In [3]:
variable_sum = 10 + 3
print(variable_sum)
variable_difference = 15 - 7
print(variable_difference)
variable_multiply = 4 * 8
print(variable_multiply)
variable_divide = 18 / 3
print(variable_divide)
variable_floor_divide = 11 // 4
print(variable_floor_divide)
variable_modulo = 9 % 4
print(variable_modulo)
variable_power = 6 ** 3
print(variable_power)
variable_negative = -12
print(variable_negative)

13
8
32
6.0
2
1
216
-12

Exercice 2 Datatypes

In [20]:
fruits = ["banana", "peach", "cherry", "apricot", "fig"]
print(fruits[1])
set_of_numbers = {1, 2, 3, 4, 5, 6}
#print(set_of_numbers[5]) --> TypeError: 'set' object is not subscriptable, Need  to cast as list?
print(list(set_of_numbers)[-1])
star_wars_characters = ("Le√Øa Organa", "Padme Amidala", "Asohka Tano", "Darth Talon", "Shaak' Ti")
print(star_wars_characters[2])
girl_a = {
    "name" : "Alice",
    "age" : 23,
    "city of residence" : "New York"
}

peach
6
Asohka Tano

Exercice 1 "Conditionals and If statements"

In [23]:
name = "John"
if name == "Matt":
    print("Your name is Matt")
elif name == "John":
    print("Your name is John")
print("Bye!")

Your name is John
Bye!

Exercice 1 "Conditionals and If statements"

In [26]:
# Prompt the user for input
secret_word = input("Guess the secret word: ")

# Check the input and respond accordingly
if secret_word == "Python":
    print("Correct! You guessed the secret word!")
elif secret_word == "Java":
    print("Not quite, but close!")
else:
    print("Try again!")

Try again!

Exercice 1 "For Loops"

In [28]:
# Example: Looping through a list
fruits = ["apple", "banana", "cherry", "kiwi", "peach", "fig", "apricot"]

for fruit in fruits:
    print("I love ", fruit)

I love  apple
I love  banana
I love  cherry
I love  kiwi
I love  peach
I love  fig
I love  apricot

Exercice 2 "For Loops"

In [31]:
# Example: Looping through a list
movies = ["gladiator", "eastern promises", "the wisdom of crocodiles", "salt", "ash", "everytime, everywhere, all at once"]

for movie in movies:
    print("I love the movie", movie)

I love the movie gladiator
I love the movie eastern promises
I love the movie the wisdom of crocodiles
I love the movie salt
I love the movie ash
I love the movie everytime, everywhere, all at once