Exemple Cours :

In [1]:
import pandas as pd
titanic_data = pd.read_csv('train.csv')

Calculer Q1 et Q3 pour la colonne 'Age'

In [2]:
Q1 = titanic_data['Age'].quantile(0.25)
Q3 = titanic_data['Age'].quantile(0.75)

Calculer l'IQR

In [4]:
IQR = Q3 - Q1

Définir les bornes inférieure et supérieure pour les outliers potentiels

In [5]:
lower_bound = max(0, Q1 - 1.5 * IQR)  
upper_bound = Q3 + 1.5 * IQR

Identifier et compter le nombre d'outliers dans la colonne 'Age'

In [6]:
outliers = titanic_data[(titanic_data['Age'] < lower_bound) | (titanic_data['Age'] > upper_bound)]

Résultats

In [7]:
print(f"Q1: {Q1}")
print(f"Q3: {Q3}")
print(f"IQR: {IQR}")
print(f"Lower Bound: {lower_bound}")
print(f"Upper Bound: {upper_bound}")
print(f"Number of outliers in 'Age': {outliers.shape[0]}")

Q1: 20.125
Q3: 38.0
IQR: 17.875
Lower Bound: 0
Upper Bound: 64.8125
Number of outliers in 'Age': 11

Optionnel : Filtrer les outliers de la colonne 'Age'

In [8]:
titanic_data_filtered = titanic_data[(titanic_data['Age'] >= lower_bound) & (titanic_data['Age'] <= upper_bound)]

Visualisation

In [9]:
titanic_data_filtered.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S